.container {
    display: flex;
    align-content: center;
    justify-content: space-between;
    height: 100px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;

}

.logoText {
    font-size: 40px;
    font-weight: 600;
}

.links {
    font-size: 24px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: end ;
    gap: 50px;

}

@media screen and (max-width: 1280px) {
    .logo {
        gap: 10px;
    }
    .logoText {
        font-size: 28px;
    }

    .links {
        font-size: 18px;
        gap: 20px;
    }
}

@media screen and (max-width: 910px) {
    .logoImg {
        width: 40px;
        height: 40px;
    }

    .logoText {
        font-size: 24px;
    }

    .links {
        gap: 15px;
    }
}

@media screen and (max-width: 768px) {

    .logoText {
        display: none;
    }
}

@media screen and (max-width: 640px) {

    .container {
        position: sticky;
        top: 0;
        background-color: var(--bg);
        z-index: 2;
    }

    .link {
        display: none;
    }

    .logoText {
        display: block
    }

    .links {
        gap: 25px;
    }
}

@media screen and (max-width: 430px) {
    /* .links {
        font-size: 14px;
        gap: 5px;
    } */
}
    
    